@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-default {
  background-color: #20202a !important;
}

.bg-active {
  background-color: #9696ca !important;
}

.bg-active-dark {
  background-color: #5454a6;
}

.bg-active-darker {
  background-color: #212140;
}

.bg-active-light {
  background-color: #b8b8db;
}

.bg-active-lighter {
  background-color: #dadaec;
}

.bg-secondary {
  background-color: #2c2c39 !important;
}

.text-active {
  color: #9696ca !important;
}

.border-active {
  border-color: #9696ca !important;
}

/*
  Paginaton styles taken from example on:
  https://kobalte.dev/docs/core/components/pagination#siblings-example
*/
.pagination__root > ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}
